nav {
  margin: 0;
  padding: 1rem 0 0;
  display: flex;
  justify-content: center;
}

.tab {
  margin: 0 0.2rem 0 0;
  padding: 0 0.5rem;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 10% / 50%;
  background-color: rgb(128 0 255);
  box-shadow: 0 0 0.5rem 0 rgb(32 0 192);

  &:last-of-type {
    margin: 0;
  }

  & :global(.active) {
    color: rgb(255 255 255);
  }

  &:has(:global(.active)) {
    box-shadow: inset 0 0 0.5rem 0 rgb(255 255 255);
  }
}

.tabContainer {
  margin: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
  background-color: rgb(50 128 255);
  padding: 0.5rem;
  border-radius: 10% / 50%;
}
